<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>About Us</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<!-- ========== CSS INCLUDES ========== -->
<link href="<?php echo base_url('assets/home/css/font-awesome.css');?>" rel="stylesheet">
<link rel="stylesheet" href="<?php echo base_url('assets/home/css/master.css');?>">
<link rel="stylesheet" href="<?php echo base_url('assets/home/css/bootstrap.min.css');?>">
</head>
<body>

<header id="header" class="header1">
  <!-- Begin Top-Header -->
  <div id="topContainer">
    <div class="container">
      <div class="topContent">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/smartensschool?ref=hl" class="fb" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/The_Smartens" class="tw" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/smarten-ninos-tech-learning-initiative-pvt-ltd?trk=tyah&trkInfo=tarId%3A1397544012807%2Ctas%3Asmarten%20%2Cidx%3A1-2-2" class="ln" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <!--end social-icons -->
        <div class="contact-details">
          <ul>
            
            <li> <span class="fa fa-phone"></span> <a href="#" >+91-09540655828, +91-9540655838 </a> </li>
            <li> <span class="fa fa-envelope"></span> <a href="mailto:hr.smarten@smartenschool.com">hr.smarten@smartenschool.com</a> </li>
            <li> <span class="fa fa-user"></span><a href="news.html"> &nbsp;News</a></li>
            <li> <span class="fa fa-pencil-square-o"></span><a href="careers.html" > &nbsp;Careers</a></li>
          </ul>
        </div>
        <!--end contact-details -->
      </div>
      </div>
    <!--end container -->
  </div>
  <!--end topContainer -->
  <!--end Top-Header -->
  <!-- Begin Nav -->
  <nav class="navbar clearfix">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand fadeInL fadeL" href="<?php echo base_url('home'); ?>" style="visibility: visible;"> <img src="<?php echo base_url('assets/home/img/logo.png');?>" class="fadeInL-Big fadeL-Big" alt="Playgroup &amp; Nursry school india" style="visibility: visible;"> </a> </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse fade " id="bs-example-navbar-collapse-1">
        <nav class="mainMenu fadeUp-menu">
          <ul>
            <li> <a class="li1"> <img src="<?php echo base_url('assets/home/img/home.png');?>" alt="about"> About Us</a>
              <ul>
                <li><a href="<?php echo base_url('home/about'); ?>">Overview</a></li>
                <!-- <li><a href="chairpersons.html">Chairperson's Foreword</a></li>
                <li><a href="our-founder.html">Our Founder</a></li>
                <li><a href="why-smarten.html">Why Smarten School</a></li>
                <li><a href="milestones-achieved.html"> Milestones Achieved</a></li>
                <li><a href="mission-objectives.html"> Mission & Objectives</a></li>
                <li><a href="news.html"> News</a></li>
                  <li><a href="school-system.html"> School System</a></li>
                <li><a href="transport-details.html">Transport Details</a></li>
                <li><a href="faq.html">FAQ</a></li> -->
              </ul>
            </li>
            <li> <a class="li2"> <img src="<?php echo base_url('assets/home/img/classes.png');?>" alt="centres"> Admission </a>
              <ul>
                <li><a href="procedure.html">Procedure</a></li>
                <li><a href="registration.html">Registration</a></li>
                <li><a href="fee-regulations.html">Fee Regulations</a></li>
              </ul>
     
          </li>
            <li> <a class="li3"> <img src="<?php echo base_url('assets/home/img/teachers.png');?>" alt="programs"> Academy </a>
               <ul>
                <li><a href="classical-western-dance.html">Classical And Western Dance</a></li>
                <li><a href="sports.html">Sports</a></li>
                <li><a href="theater.html">Theater</a></li>
                <li><a href="art-and-craft.html">Art And Craft</a></li>
                <li><a href="fields-trips-excursions.html">Fields Trips And Excursions</a></li>
                <li><a href="personality-development.html">Personality Development</a></li>
              
             
              </ul>
             </li>
             <li> <a class="li1"> <img src="<?php echo base_url('assets/home/img/gallery.png');?>" alt="centres"> Gallery </a>
              <ul>
                <li><a href="<?php echo base_url('home/gallery'); ?>">Photo Gallery</a></li>
                <!-- <li><a href="<?php echo base_url('home/video'); ?>">Video Gallery</a></li> -->
              </ul>
            </li>
            
            
            <li> <a class="li4"> <img src="<?php echo base_url('assets/home/img/pages.png');?>" alt="parents"> Parents</a>
              <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Essentials</a></li>
                <li><a href="#">Do's And Dont's</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul>
            </li>
            <li> <a class="li5"> <img src="<?php echo base_url('assets/home/img/blog.png');?>" alt="Franchisees"> Franchisees </a>
              <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Prerequisites</a></li>
                <li><a href="#">Smarten School Support</a></li>
                <li><a href="#">Apply Online</a></li>
              </ul>
            </li>
             <li> <a href="blog.html"> <img src="<?php echo base_url('assets/home/img/blog2.png');?>" alt="Investors">Blog</a></li>
            <li> <a href="contact.html"> <img src="<?php echo base_url('assets/home/img/investor.png');?>" alt="Investors">Contact Us</a></li>
          </ul>
        </nav>
        <!--end nav -->
      </div>
      <!-- /navbar-collapse -->
    </div>
    <!-- /container-->
  </nav>
  <!--end navbar -->
</header>